{% extends 'index.html' %}
{% block content %}
<div class="col-sm-3"></div>
<div class="text-center col-sm-6">
<div class="card">
  <div class="card-header">
    Employee
  </div>
  <div class="card-body text-left">
<form>
  <div class="form-group">
    <label for="name">Full name</label>
    <input type="text" placeholder="Name Surname" class="form-control" id="name">
  </div>
    <div class="form-group">
        <label for="department">Department</label>
        <select name="" class="custom-select" id="department">
            {% for id in ids %}
            <option value="{{id}}">{{id}}</option>
            {% endfor %}
        </select>
  </div>
    <div class="form-group">
    <label for="birthday">Date of birthday</label>
    <input type="date" class="form-control" id="birthday">
  </div>
  <div class="form-group">
    <label for="salary">Salary</label>
    <input type="number" class="form-control" id="salary">
  </div>
    <div class="text-center">
  <button type="submit" class="btn btn-primary">Submit</button>
    <a href="{{url_for('employees')}}" class="btn btn-danger">Cancel</a>
    </div>
</form>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
</div>
<div class="col-sm-3"></div>
{% endblock %}